* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 10em;
}

input {
  color: grey;
  width: 100%;
  font-size: 12px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 10px;
  overflow: hidden;
}

.card p{
  text-align: center;
  padding: 5px;
}

.card img{
  max-height: 100px;
}
